* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.nav-bar {
  display: flex;
  width: 100vw;
  padding: 2rem;
  justify-content: space-between;
  height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-links li {
  margin-left: 1.5rem;
}

.link {
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.link:active,
.link:hover,
.link:visited {
  color: #333;
}
